/******************************styles principals **************************/
:root{
    --primary-color: #1EA5FC;
    --secundary-color: #eb3232;
}

*,
::after,
::before{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.btn-principal{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.input-principal{
    padding: 10px 12px;
    border-radius: 13px;
    border: none;
    border: 1px solid rgb(233, 232, 232);
    font-size: 1.2rem;
    color: rgb(185, 184, 184);
    outline: none;
}

/******************************styles header**************************/
.content-header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1365px;
    margin: auto;
}

.content-header .content-header__logo .__logo{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.content-header .content-header__links a{
    font-size: 1.3rem;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(172, 172, 172);
    /* font-weight: bold; */
    text-decoration: none;
}

.content-header .content-header__buttons a{
    font-size: 1.2rem;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.content-header .content-header__buttons .__login{
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    padding: 8px 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.content-header .content-header__buttons .__register{
    border: 1px solid var(--secundary-color);
    padding: 8px 10px;
    color: var(--secundary-color);
    font-size: 1rem;
}

.content-header .content-header__buttons i{
    display: none;
}

/******************************styles home**************************/
main{
    display: flex;
    padding: 100px 50px;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

main .left h1{
    font-size: 3rem;
}

main .left p{
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 2;
    color: rgb(172, 172, 172);
}

main .right img{
    width: 550px;
}

main .left .obtain-account{
    border: none;
    font-size: 1.3rem;
    padding: 10px 12px;
    margin-top: 20px;
    background-color: var(--secundary-color);
    color: white;
}

/******************************styles login**************************/
.login{
    height: 100vh;
    background: linear-gradient(90deg,#904e95,#e96443);
    padding: 20px;
    margin: auto;
}

.login .login__form form{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    padding: 35px 30px 70px 30px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(5%);
}

.login .login__form .login__form__text h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
}

.login .login__form .login__form__text p{
    color: rgb(172, 172, 172);
    margin-top: 20px;
}

.login .login__form__form{
    margin-top: 20px;
}

.login .login__form label{
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
}

.login .login__form input{
    margin-bottom: 10px;
    width: 100%;
}

.login .login__form input::placeholder{
    color: rgb(212, 212, 212);
}

.login .login__form input:focus{
    color: rgb(211, 208, 208);
}

.login .login__form .btn-login{
    color: white;
    background-color: var(--secundary-color);
    margin-top: 10px;
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
}

.login .login__form .btn-register{
    color: black;
    background-color: transparent;
    margin-top: 10px;
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid rgb(156, 153, 153);
}

/******************************styles Register**************************/
.register{
    height: 100vh;
    background: linear-gradient(90deg,#904e95,#e96443);
    padding: 20px;
    margin: auto;
}

.register .register__form form{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    padding: 35px 30px 70px 30px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(5%);
}

.register .register__form .register__form__text h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
}

.register .register__form .register__form__text p{
    color: rgb(172, 172, 172);
    margin-top: 20px;
}

.register .register__form__form{
    margin-top: 20px;
}

.register .register__form label{
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
}

.register .register__form input{
    margin-bottom: 10px;
    width: 100%;
}

.register .register__form input::placeholder{
    color: rgb(212, 212, 212);
}

.register .register__form input:focus{
    color: rgb(211, 208, 208);
}

.register .register__form .btn-re.register{
    color: white;
    background-color: var(--secundary-color);
    margin-top: 10px;
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
}

.register .register__form .btn-register{
    background-color: var(--secundary-color);
    width: 100%;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.register .register__form .btn-login{
    color: black;
    background-color: transparent;
    margin-top: 10px;
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid rgb(156, 153, 153);
}

